header.header
    .container
        .header__logo.logo
            a(href="/").logo__link
                img(src="img/logo-orange.png", alt="Cooltech logo").logo__img
                h1.hide-text Cooltech Интернет магазин цифровой электроники
        form.header__search.search
            input(type="text" placeholder="Что будем искать?").search__input
            button(type='submit').search__button Найти
        nav.header__buyersLinks.buyersLinks
            +nav('buyersLinks', ['Карта проезда','История заказов','Корзина'])





