
.header {
	position: relative;
	height: 95px;

		&__logo , &__search, &__buyersLinks {
			@include vertical-center();
		}
		&__logo {
			left:0;
			max-width: 238px;
			max-height: 36px;
		}
		&__search {
			left:295px;
			box-sizing: border-box;
		}
		&__buyersLinks {
			right: 0;
		}
}


.hide-text {
	font-size: 0;
}


.buyersLinks {
	font-size: 0;
		&__item {
			display: inline-block;
			margin-left: 32px;
			&:first-child {
				margin-left: 0px;
			}
		}
		&__link {
			font-family: 'open_sanssemibold';
			font-size: 16px;
			font-weight: 600;
			color: black;
			text-decoration: underline;
			&:hover {
				color: #f60;
			}
		}
}

.search__input {
	padding: 0;
	margin: 0;
	width: 289px;
	height: 32px;
	padding: 0 15px;
	outline: none;
	border: 1px solid #dee1e4;
	@include border-radius(3px);
	@include box-sizing;
}

@include placeholder {
	line-height: 14px;
	padding: 2px 0;
	font-size: 14px;
	font-family: 'open_sanslight';
	color: #7f7f7f;
}

.search__button {
	padding: 0;
	margin: 0;
	height: 32px;
	min-width: 79px;
	margin-left: -7px;
	border: none;
	background-color: #f60;
	font-size: 16px;
	color: white;
	@include border-radius(0 3px 3px 0);
}