.important-info {
  clear: both;
  margin-bottom: 20px;
}

.important-info__title {
  font-size: 20px;
  font-family: 'open_sansbold';
  margin-bottom: 0;
}

.important-info__text {
  font-family: 'open_sansregular';
  font-size: 14px;
  text-indent: 37px;
  text-align: justify;
  width: 94%;
  line-height: 20px;
}

.important-info__content {
  width: 103%;
}
