include _common/_mixins

doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content="IE=edge")
		meta(name='viewport' content='width=device-width')
		link(rel="stylesheet" href="css/main.min.css")
		link(rel="apple-touch-icon" sizes="120x120" href="/img/favicons/apple-touch-icon-120x120.png?v=lkkbr7pyE8")
		link(rel="apple-touch-icon" sizes="152x152" href="/img/favicons/apple-touch-icon-152x152.png?v=lkkbr7pyE8")
		link(rel="shortcut icon" href="/img/favicons/favicon.ico?v=lkkbr7pyE8")
		title Cooltech Shop
	body
		.wrapper
			include _common/_contacts
			include _common/_header
			include _common/_nav
			.container
				include _common/_sortline
				block content
				include _common/_important-info
		include _common/_footer
		script(src="js/main.min.js")



